.footer{
    grid-column: 1/-1;
    grid-row: 3;
    height: 15vh;
    padding: 3% 0;
    margin-top: .5rem;    
    text-align: center;    
    font-weight: bold;        
    background-color: rgb(87, 87, 87); 
    color: wheat;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: .25fr auto;
    font-family: 'Londrina Solid', cursive;
}
.footer > p {
    grid-column:  3/5;
    grid-row: 2;
}
@media only screen and (min-width: 300px) and (max-width: 500px){
    .footer{
        
        /* display: flex;
        flex-direction: column; */
        height: 12vh;
        font-size: 1rem; 
        margin: 0;     
    }
    .footer > p{
        grid-column: 1/-1;
        font-size: 1rem;
    } 
 }
 @media only screen and (min-width: 501px) and (max-width: 769px){
    header{
        height: 8vh;
        padding: 2vh;        
    }
    .header-message{
        font-size: 3rem;
    } 
 }